<form action="/titles/search">
  <div class="input-group">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default" type="button">Go!</button>
    </span>
    <input name="term" type="text" class="form-control" placeholder="Search for...">
  </div>
</form>
