<div class="row">
  <div class="col-sm-1">
    <h4>Search Results</h4>
  </div>
</div>

<div>
  <% @results.each_slice(2) do |pair| %>
    <div class="row">
      <% pair.each do |t| %>
        <div class="col-sm-6">
          <%= render "title_summary", title: t, reviews: t.reviews %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
