<div>
  <% for i in (0...num_stars) %>
    <span class="glyphicon glyphicon-star ratings-star" aria-hidden="true"></span>
  <% end %>
  <% for i in (0...(5 - num_stars)) %>
    <span class="glyphicon glyphicon-star-empty ratings-star" aria-hidden="true"></span>
  <% end %>
</div>
