<%= form_for([@title, @title.reviews.build]) do |f| %>

  <p>
    <%= f.label :content %><br>
    <%= f.text_field :content %><br>
  </p>
  <p>
    <input name="star1" type="radio" class="star"/>
    <input name="star1" type="radio" class="star"/>
    <input name="star1" type="radio" class="star"/>
    <input name="star1" type="radio" class="star"/>
    <input name="star1" type="radio" class="star"/>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>
