<%= form_for([@title, @title.reviews.build]) do |f| %>

  <p>
    <%= f.label :content %><br>
    <%= f.text_field :content %><br>
  </p>
  <p>
    <input name="review[ratings]" type="radio" class="star" value="1"/>
    <input name="review[ratings]" type="radio" class="star" value="2"/>
    <input name="review[ratings]" type="radio" class="star" value="3"/>
    <input name="review[ratings]" type="radio" class="star" value="4"/>
    <input name="review[ratings]" type="radio" class="star" value="5"/>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>
